<div class="row">
	</div>
	<div class="col-md-9 centered front-field">
		<h1>edit a group</h1>
		<div class="row">
			<div class="col-md-5">
				<%= render 'group_form' %>
			</div>
		</div>
		<%= link_to("Back", group_path(@group.id), :class => "btn btn-default")%>
	</div>
</div>