<div class="container">
	<div class="row">
		<div class="col-md-3" style="background: pink;">
			<br>
			<% unless current_user.nil? %>
				<%end%>
				<ul>
			</ul>
		</div>


		<div class="col-md-9 front_field">
			<h1>Yea! This is a list of all groups</h1>
		<ul>
			<% @group.each do |group|%>
				<li><%= image_tag group.logo.url(:medium)%><%= link_to(group.name, group_path(group))%></li>
			<%end%>
		</ul>
			<% unless current_user.nil? || current_user.group_id != nil%>
				<%= link_to("Add new group", new_group_path)%>
			<%end%>
		</div>
	</div>
</div>


