<div class="container">
<h1>Yea! This is a list of all groups</h1>

<% @group.each do |group|%>
	<h2><%= link_to(group.name, group_path(group))%></h2>

	<%end%>
<% unless current_user.nil? || current_user.group_id != nil%>
	<button type="button" class="btn btn-default"><%= link_to("Add new group", new_group_path)%></button>
<%end%>