<h2>This is an inside of the group page!</h2>
<div class="container">
	<div style="background: pink;">
		<h3>The list of user!</h3>
		<p> This group have <%= @users_count%> users.</p>
		<ul>
			<% @users.each do |user|%>
			<li><%= user.name%></li><br>
			<%end%>
		</ul>
		<br>
		<% if current_user.group_id == @group.id%> 
		<%else%>
			<button><%= link_to("Join", join_group_path(@group.id))%></button>
		<%end%>
	</div><br>
</div>
<button><%= link_to("Back", '/')%></button>