<div class="container">
<h3>Description</h3>
<p>this is the description of the event</p>
<hr>
<table class="table table-hover">
	<thead>
		<td>id of Attendant</td>
	</thead>
		<% @event.users.each do |user|%>
	<tbody>
		<td><%= user.name%></td>
	</tbody>
		<%end%>
</table>
	<%= flash[:error]%><br>
	<br>
	<% unless current_user.group_id == @event.id%>
		<%= link_to("Attend", create_attendance_path(@event.id), method: :post)%>
	<%end%>
	<br>
<%= link_to("back", groups_path)%>
<br>
</div>