/*// Place all the styles related to the groups controller here.*/
/*// They will automatically be included in application.css.*/
/*// You can use Sass (SCSS) here: http://sass-lang.com/*/

body{
	background: url(/assets/12.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

body ul{
	list-style-type: none;
}
.link_to{
	color: white;
}
.my-header{
	background-color: rgba(250,250,250,0.8);
	margin-bottom: 1em;
}
.members-field{
	background-color: rgba(250,250,250,0.8);
  	color: rgba(20,20,20,1);
	font-family: 'Roboto Slab', serif;
	padding: 1em 0 2.5em 0.6em;
}
.front-field{
	background-color:rgba(235,245,245,0.8); 
  	color: rgba(10,25,25,1);
	font-family: 'Roboto Slab', serif;
	padding: 1em 0 2.5em 0.6em;
}
.group-name{
	font-size: 30px;
	color: black;
}
.link-color{
	color: #00A9E5;
}
.link-color:hover{
	color: rgba(194,194,179,1);
	text-decoration: none;
}
.search-field{
	background: #00A9E5;
}
.article-field{
	background-color: rgba(255,255,255,0.8);
	margin-bottom: 10px;
	padding: 10px 0 0 10px;
	border-bottom: 5px solid #00A9E5;
}
.nav-tabs-blue{
	background: #00A9E5;
	padding: 6px;
	border-radius: 10px 10px 0 0;
}
.btn-filter{
	color: white;
	font-size: 1.2em;
}
.filter{
	font-size: 1em;
	color: white;
}
#map-canvas{
	height: 400px;
	width: 500px;
	background-color: #CCC;
}
